<ion-header>
  <ion-toolbar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Player List</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="camera" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <div class="card-header-content">
          <div>
            <ion-card-title>Player name</ion-card-title>
            <ion-card-subtitle>Player surname</ion-card-subtitle>
          </div>
          <ion-buttons>
            <ion-button>
              <ion-icon name="share-social" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </ion-card-header>
      <ion-card-content>
        Properties
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

