<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title class="header-tittle">Jugadores</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="takePicture()">
        <ion-icon name="camera" slot="icon-only" color="danger"></ion-icon>
      </ion-button>
      <ion-button (click)="logOut()">
        <ion-icon name="log-out-outline" slot="icon-only" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="nba-gradient" fullscreen="true">
    @for (player of apiService.players; track player.id) {
      <ion-card (click)="goToDetails(player.id)">
        <ion-card-header>
          <div class="card-header-content">
            <div>
              <ion-card-title>{{ player.name }}</ion-card-title>
              <ion-card-subtitle>{{ player.surName }}</ion-card-subtitle>
            </div>
            <ion-buttons>
              <ion-button (click)="shareService.sharePlayer(player); $event.stopPropagation()">
                <ion-icon name="share-social" slot="icon-only" color="danger"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <strong>Equipo:</strong> {{ player.team }}
              </ion-col>
              <ion-col size="12">
                <strong>Altura:</strong> {{ player.height }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <strong>Peso:</strong> {{ player.weight }}
              </ion-col>
              <ion-col size="12">
                <strong>País:</strong> {{ player.country }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    }
    <ion-infinite-scroll threshold="300px" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Cargando jugadores...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>