<ion-header>
  <ion-toolbar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Player List</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="takePicture()">
        <ion-icon name="camera" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="logOut()">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @for (player of apiService.players; track player.id) {
      <ion-card (click)="goToDetails(player.id)">
        <ion-card-header>
          <div class="card-header-content">
            <div>
              <ion-card-title>{{ player.name }}</ion-card-title>
              <ion-card-subtitle>{{ player.surName }}</ion-card-subtitle>
            </div>
            <ion-buttons>
              <ion-button>
                <ion-icon name="share-social" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
        </ion-card-header>
        <ion-card-content>
          <p>Equipo: {{ player.team }}</p>
          <p>Altura: {{ player.height }}</p>
          <p>Peso: {{ player.weight }}</p>
        </ion-card-content>
      </ion-card>
    }
  </ion-list>
  <ion-infinite-scroll threshold="1px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading players...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

