<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onLogin()" [formGroup]="loginForm" class="ion-padding">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email" fill="outline"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" fill="outline"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="loginForm.invalid">
      Iniciar sesión
    </ion-button>
    <p class="ion-text-center">
      ¿No tienes cuenta?
      <a routerLink="/register">Regístrate</a>
    </p>
  </form>
</ion-content>

