<ion-content [scrollY]="false" fullscreen="true">
  <div class="login-wrapper nba-gradient">
    <ion-img src="../../../assets/images/nba-logo.png" alt="NBA Logo"></ion-img>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="ion-padding login">
      <strong class="login-title">Inicio de sesión</strong>

      <ion-item lines="none" class="rounded">
        <ion-input type="email" label="Email:" label-placement="floating" formControlName="email" shape="round"></ion-input>
      </ion-item>

      <ion-item lines="none" class="rounded">
        <ion-input type="password" label="Contraseña:" label-placement="floating" formControlName="password" shape="round"></ion-input>
      </ion-item>

      <ion-button fill="outline" expand="block" type="submit" class="ion-padding">
        Iniciar sesión
      </ion-button>

      @if (errorMessage) {
        <div class="error">{{ errorMessage }}</div>
      }
    </form>

    <div class="ion-text-center ion-padding register">
      ¿No tienes cuenta?
      <ion-button fill="outline" routerLink="/register" size="small" id="register-button">Regístrate</ion-button>
    </div>
      
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title class="footer">© NBA API - Sammy</ion-title>
  </ion-toolbar>
</ion-footer>