<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="ion-padding">
    <ion-item>
      <ion-input label="Email:" label-placement="floating" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" label="Password:" label-placement="floating" formControlName="password"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" class="ion-padding">
      Iniciar sesión
    </ion-button>

    @if (errorMessage) {
      <div>{{ errorMessage }}</div>
    }

    <p class="ion-text-center ion-padding">
      ¿No tienes cuenta?
      <a routerLink="/register">Regístrate</a>
    </p>
  </form>
</ion-content>

