<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="ion-padding">
    <ion-item>
      <ion-input type="email" label="Username:" label-placement="floating" formControlName="userName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="email" label="Email:" label-placement="floating" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" label="Password:" label-placement="floating" formControlName="password"></ion-input>
    </ion-item>

    @if (errorMessage) {
      <div>{{ errorMessage }}</div>
    }

    <ion-button expand="block" type="submit" class="ion-padding">
      Registrarse
    </ion-button>
    <p class="ion-text-center">
      <a routerLink="/login">Iniciar sesión</a>
    </p>
  </form>
</ion-content>
