<ion-header>
  <ion-toolbar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onRegister()" [formGroup]="registerForm" class="ion-padding">
    <ion-item>
      <ion-input label="User:" label-placement="floating" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Email:" label-placement="floating" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Password:" label-placement="floating" type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Confirm Password:" label-placement="floating" type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="registerForm.invalid">
      Registrarse
    </ion-button>
    <p class="ion-text-center">
      <a routerLink="/login">Iniciar sesión</a>
    </p>
  </form>
</ion-content>
