<ion-header>
  <ion-toolbar>
  </ion-toolbar>
  <ion-toolbar>
    @if (player) {
      <ion-title>{{ player.name }} {{ player.surName }}</ion-title>
      <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="share-social" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="star-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  } @else {
    <ion-title>N/A</ion-title>
  }
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      @if (player) {
        <ion-card-content>
          <p>Equipo: {{ player.team }}</p>
          <p>Altura: {{ player.height }}</p>
          <p>Peso: {{ player.weight }}</p>
          <br>
          <p>País: {{ player.country }}</p>
          <p>Dorsal: {{ player.number }}</p>
          <p>Posición: {{ player.position }}</p>
        </ion-card-content>
      } @else {
        <ion-card-content>No se ha podido recuperar el jugador.</ion-card-content>
      }
    </ion-card>
  </div>
</ion-content>