<ion-header>
  <ion-toolbar>
    @if (player) {
      <ion-title>{{ player.name }} {{ player.surName }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="shareService.sharePlayer(player)">
          <ion-icon name="share-social" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button (click)="toggleFavorite(player)">
          <ion-icon [name]="isFavorite(player) ? 'star' : 'star-outline'" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    } @else {
      <ion-title>N/A</ion-title>
    }
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <div>
    <ion-card>
      @if (player) {
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="12" sizeMd="6">
                <strong>Equipo:</strong> {{ player.team }}
              </ion-col>
              <ion-col size="12" sizeMd="6">
                <strong>Altura:</strong> {{ player.height }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" sizeMd="6">
                <strong>Peso:</strong> {{ player.weight }}
              </ion-col>
              <ion-col size="12" sizeMd="6">
                <strong>País:</strong> {{ player.country }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      } @else {
        <ion-card-content>No se ha podido recuperar el jugador.</ion-card-content>
      }
    </ion-card>
  </div>
</ion-content>